.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

p, h1{
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
a:hover{
  color:#084E9E;
}
